@import '~bootstrap/scss/bootstrap';
@import './partials/login-register';
@import './partials/generals';
@import './partials/characters';
@import './partials/races';

header{
    background-color: rgb(31, 20, 0);
    position:fixed;
    height: 80px;
    width: 100%;
    z-index: 99;
}
main{
    padding-top: 80px;
    overflow: auto;
    height: 100vh;
}


.debug {
    border: 1px solid red;
}
